body {
  font-family: 'Segoe UI', sans-serif;
}

.hero {
  background: url("https://images.unsplash.com/photo-1543589077-47d81606c1bf") no-repeat center;
  background-size: cover;
  height: 100vh;
}

.overlay {
  background: rgba(0,0,0,0.6);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

.events {
  background: linear-gradient(135deg, #b30000, #ff4d4d);
}

.card {
  border-radius: 15px;
}
